#add-task-button {
  height: 60px;
  width: 60px;
}

#calendar-container {
  border-radius: 8px;
  overflow: hidden;
}

#header-logo {
  width: 80px !important;
  width: 80px !important;
  width: 80px !important;
}